@media (min-width: 90em) {
  html {
    font-size: 62.5%;
  }

  .heading-primary {
    font-size: 5.2rem;
    line-height: 1.2;
  }

  .heading-tertiary {
    font-size: 4.8rem;
    padding: 0 10rem 0 0;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .active {
    visibility: visible;
    opacity: 1;
    pointer-events: default;
  }

  /* HEADER */
  .header {
    background-color: var(--primary-dark-blue);

    padding: 3.6rem 7.2rem;
    font-size: 1.8rem;
  }

  /* NAVIGATION */
  .main-nav {
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    height: 3.6rem;
  }

  .main--nav-list {
    list-style: none;
    color: var(--neutral-white);
    gap: 4.8rem;
  }

  /* HERO SECTION */
  .section-hero {
    padding: 8.4rem 14rem;

    background-color: var(--primary-dark-blue);
    background-image: url("./images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }

  .hero-illustration {
    width: 60%;
    justify-self: center;
  }

  .hero-description {
    padding: 0 37rem;
    font-size: 1.4rem;
    justify-self: center;
  }

  /* FEATURE SECTION */
  .section-feature {
    grid-template-columns: repeat(2, 1fr);
    padding: 12rem 16rem;

    color: var(--neutral-white);
    background-color: var(--primary-dark-blue-main-bg);
    row-gap: 10.4rem;
    column-gap: 6.4rem;
    text-align: center;
  }

  .feature--illustration-image {
    width: auto;
    height: 9.6rem;
    margin-bottom: 2.4rem;
  }

  .feature-name {
    font-weight: var(--fw-bold);
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .feature-description {
    padding: 0 6.4rem;
    font-size: 1.4rem;
  }

  /* SECTION HOW-TO */
  .section-howTo {
    padding: 6.4rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
  }

  .section--howTo-textBox {
    justify-content: center;
  }

  /* TESTIMONIALS SECTION */
  .section-testimonials {
    grid-template-columns: repeat(3, 1fr);
    padding: 9.6rem;
    row-gap: 2.4rem;
    column-gap: 2.4rem;
    color: var(--neutral-white);
    background-color: var(--primary-dark-blue-main-bg);
  }

  .testimonial {
    padding: 4.8rem 2.4rem 3rem 2.4rem;
    gap: 2.4rem;
  }

  .user-testimonial {
    font-size: 1.4rem;
  }

  .user-detail {
    font-size: 1.4rem;
  }

  /* CTA SECTION */

  .cta-text {
    font-size: 1.4rem;
  }

  .cta-form {
    gap: 2.4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .email-input {
    flex: 4;
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
  }

  .submit-btn {
    flex: 2;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 25px;
    color: var(--neutral-white);
    background-color: var(--accent-blue);
  }

  .error-text {
    margin-top: -1.8rem;
    margin-left: 2rem;
    text-align: left;
  }

  /* FOOTER */
  .footer {
    font-size: 1.4rem;
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr;
    column-gap: 2.4rem;
    justify-content: center;
  }

  .logo-footer {
    width: 30rem;
    grid-column: 1 / -1;
    justify-content: center;
  }

  .footer-email-phone {
    justify-self: center;
  }

  .footer-nav-links,
  .footer-information-links {
    justify-self: center;
  }

  .social-icon {
    font-size: 2.4rem;
  }
}
