:root {
  --primary-dark-blue: hsl(217, 28%, 15%);
  --primary-dark-blue-main-bg: hsl(218, 28%, 13%);
  --primary-dark-blue-footer-bg: hsl(216, 53%, 9%);
  --primary-dark-blue-testi-bg: hsl(219, 30%, 18%);

  --accent-cyan: hsl(176, 68%, 64%);
  --accent-blue: hsl(198, 60%, 50%);
  --accent-light-red: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);

  --fw-regular: 400;
  --fw-bold: 700;
}

html {
  font-size: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: var(--fw-bold);
  font-family: "Raleway", sans-serif;
}

.heading-primary {
  font-size: 2.75rem;
}

.heading-tertiary {
  font-size: 2.25rem;
}

/* HEADER */
.header {
  background-color: var(--primary-dark-blue-testi-bg);

  padding: 2.4rem;
}

/* NAVIGATION */
.main-nav {
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 2rem;
}

.main--nav-list {
  list-style: none;
  color: var(--neutral-white);
  gap: 2.4rem;
}

/* HERO SECTION */
.section-hero {
  padding: 2.4rem 5.2rem 5.2rem 5.2rem;
  row-gap: 2rem;
  justify-content: center;
  /* background-color: var(--primary-dark-blue-testi-bg); */
  background-image: url("./images/bg-curvy-mobile.svg"),
    linear-gradient(
      to bottom,
      var(--primary-dark-blue-testi-bg),
      var(--primary-dark-blue-testi-bg),
      var(--primary-dark-blue-main-bg),
      var(--primary-dark-blue-main-bg)
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.hero-content {
  flex-direction: column;
  gap: 3.6rem;
}

.hero-illustration {
  width: 100%;
}

.hero--content-textBox {
  flex-direction: column;
  gap: 2.4rem;
  text-align: center;
  color: var(--neutral-white);
}

.hero-description {
  font-size: 1.75rem;
}

.btn-cta {
  padding: 2rem;
  justify-self: center;
}

.btn--cta:link,
.btn--cta:visited {
  font-size: 1.75rem;
  text-decoration: none;
  padding: 1.2rem 9.6rem;
  color: var(--neutral-white);
  background-color: var(--accent-blue);
  border-radius: 25px;
  transition: all 0.3s;
}

.btn--cta:hover,
.btn--cta:active {
  background-color: var(--accent-cyan);
}

/* FEATURE SECTION */
.section-feature {
  padding: 6.4rem 3.6rem;
  color: var(--neutral-white);
  background-color: var(--primary-dark-blue-main-bg);
  row-gap: 5.2rem;
  text-align: center;
}

.feature--illustration-image {
  width: 20%;
  margin-bottom: 2.4rem;
}

.feature-name {
  font-weight: var(--fw-bold);
  font-size: 1.75rem;
  margin-bottom: 1.2rem;
}

.feature-description {
  font-size: 1.75rem;
}

/* SECTION HOW-TO */
.section-howTo {
  padding: 6.4rem 3.6rem;
  color: var(--neutral-white);
  background-color: var(--primary-dark-blue-main-bg);
}

.howTo-illustration {
  width: 100%;
}

.section--howTo-textBox {
  flex-direction: column;
  gap: 1.8rem;
}

.howTo-text {
  font-size: 1.75rem;
}

.howTo-link {
  width: max-content;
  gap: 0.4rem;
  align-items: center;
  border-bottom: 1px solid var(--accent-cyan);
}

.howTo--link:link,
.howTo--link:visited {
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--accent-cyan);
}

/* SECTION TESTIMONIALS */
.section-testimonials {
  padding: 6.4rem 3.6rem;
  row-gap: 2.4rem;
  color: var(--neutral-white);
  background-color: var(--primary-dark-blue-main-bg);
}

.quotes {
  position: absolute;
  width: 3rem;
  left: 2%;
  top: -10%;
  z-index: -1;
}

.testimonial-quotes {
  position: relative;
  z-index: 3;
}

.testimonial {
  flex-direction: column;
  padding: 2.4rem;
  gap: 1.2rem;
  background-color: var(--primary-dark-blue-testi-bg);
}

.user-testimonial {
  font-size: 1.5rem;
  font-weight: var(--fw-regular);
}

.user-detail {
  gap: 1.4rem;
}

.user--picture {
  width: 3rem;
  border-radius: 50%;
}

.user--name {
  font-weight: var(--fw-bold);
  letter-spacing: 0.1rem;
}

.user--occupation {
  letter-spacing: 0.1rem;
}

/* SECTION CTA */
.section-cta {
  padding: 6.4rem 5.2rem;
  color: var(--neutral-white);
  background-color: var(--primary-dark-blue-main-bg);

  position: relative;
}

.section--cta-content {
  padding: 4.8rem;
  justify-content: center;
  text-align: center;
  row-gap: 2.4rem;
  border-radius: 5px;
  background-color: var(--primary-dark-blue-testi-bg);

  position: absolute;
  top: 100%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.cta-form {
  flex-direction: column;
  gap: 1.2rem;
}

.email-input {
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 25px;
}

.submit-btn {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 25px;
  color: var(--neutral-white);
  background-color: var(--accent-blue);
}

/* FOOTER */
.footer {
  row-gap: 2.4rem;
  padding: 3.6rem;
  color: var(--neutral-white);
  background-color: var(--primary-dark-blue-footer-bg);
}

.logo-footer {
  margin-top: 20rem;
  width: 15rem;
}

.footer-information {
  gap: 2rem;
  font-size: 1.75rem;
}

.footer-address-phone {
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.information-icon {
  height: auto;
  width: 2rem;
}

.footer-list {
  font-size: 1.75rem;

  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}

.footer-nav-links {
  margin-bottom: 3rem;
}

.footer-information-links {
  margin-bottom: 3rem;
}

.footer-social-links {
  justify-self: center;
}

.social-list {
  font-size: 1.75rem;
  list-style: none;
  gap: 1.2rem;
}
